@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif
}

#__next, .content {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  margin-top: 30px;
}

.container {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition-duration: 250ms;
  transition-property: opacity;
}

.logo-container {
  width: 128px;
  height: 128px;
}

.check-projects {
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
  color: white;
  opacity: 50%;
  margin-top: 30px;
  transition-duration: 250ms;
  transition-property: opacity;
}

.check-projects:hover {
  opacity: 100%;
}

.logo:hover {
  opacity: 80%;
}

.navs {
  display: flex;
  align-items: center;
}

.nav {
  font-size: 12px;
  color: #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  margin-right: 30px;
  transition-duration: 250ms;
  transition-property: color, width;
  transition-timing-function: ease-in-out;
}

.nav:hover {
  color: #888888;
  cursor: pointer;
}

.about {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 124px;
}

.name {
  color: #ff335f;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.whatido {
  color: white;
  font-size: 60px;
  font-weight: 900;
}

.about-me {
  color: white;
  opacity: 80%;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social-media {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 5px;
}

.social-media-icon:hover {
  fill: white;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: ease-in-out;
}

.projects {
  max-width: 1120px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  width: 350px;
  height: 500px;
  padding: 20px;
  border-radius: 7px;
  transition: 0.3s;
  background-color: #212225;
  box-shadow: rgb(0 0 0 / 20%) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
}

.project:hover {
  transform: translateY(-10px);
}

.project-name {
  color: #f3e9cd;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.project-description {
  color: white;
  opacity: 70%;
  font-size: 15px;
}

.project-img {
  height: 50%;
  margin-bottom: 10px;
}

.project-techs {
  display: flex;
  gap: 5px;
  margin-top: auto;
}

.project-techs span {
  font-size: 12px;
  color: #fd4d4d;
}

.contact {
  max-width: 720px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact h1 {
  color: white;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.contact h3 {
  color: white;
  opacity: 70%;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.contact input, textarea {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid #14202b;
  border-color: #14202b;
  color: #AFAFAF;
  font-size: 15px;
  background: hsl(215, 18%, 24%);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.contact textarea {
  height: 200px;
  resize: none;
}

.contact input::placeholder, textarea::placeholder {
  color: inherit;
  opacity: 1;
}

.contact input:focus, textarea:focus {
  background: hsl(0, 7%, 20%);
  transform: scale(1.02);
  border: none;
  border-color: black;
}

.contact button {
  width: 50%;
  border-radius: 10px;
  background: #fd4d4d;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  align-self: center;
  color: #fff;
  transition-duration: 250ms;
  transition-property: background;
  transition-timing-function: ease-in-out;
}

.contact button:hover {
  background: #fd6868;
}

@media screen and (max-width: 555px) {
  .whatido {
    font-size: 50px;
  }
  .name {
    font-size: 13px;
  }
  .about-me {
    font-size: 16px;
  }

  .container {
    flex-direction: column;
  }

  .navs {
    padding-left: 30px;
    padding-top: 25px;
  }
}

@media screen and (max-width: 465px) {
  .whatido {
    font-size: 41px;
  }
  .name {
    font-size: 12px;
  }
  .about-me {
    font-size: 14px;
  }

  .about {
    margin-top: 90px;
  }
}
